/* *{
    padding:0px;
    margin:0px; 
}
.theContainer{
border: solid red 1px;
display: flex;

}
.container1{
    border: solid blue 1px;
    width:50%;

}

.container2{
    border: solid aqua  1px;
    width:50%;  
} */